<div class="container">
    <h3 mat-dialog-title *ngIf="flag==1">Dodavanje preduzeća:</h3>
    <h3 mat-dialog-title *ngIf="flag==2"> Modifikacija preduzeća: {{data.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flag==3"> Brisanje preduzeća: {{data.naziv}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm"> </form>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Naziv" [(ngModel)]="data.naziv" name="naziv" [disabled]="flag == 3" required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Pib" [(ngModel)]="data.pib" name="pib" [disabled]="flag == 3" required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Sedište" [(ngModel)]="data.sediste" name="sediste" [disabled]="flag == 3" required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Opis" [(ngModel)]="data.opis" name="opis" [disabled]="flag == 3" >
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button type="submit" *ngIf="flag==1" (click)="addPreduzece()" [disabled]="!formControl.valid" mat-dialog-close="1">Sačuvaj</button>
            <button mat-button type="submit" *ngIf="flag==2" (click)="updatePreduzece()" [disabled]="!formControl.valid" mat-dialog-close="1">Sačuvaj</button>
            <button mat-button type="submit" *ngIf="flag==3" (click)="deletePreduzece()" [disabled]="!formControl.valid" mat-dialog-close="1">Obriši</button>
            <button mat-button (click)="cancel()">Poništi</button>
        </div>