<div class="about-section">
    <h1>O projektu</h1>
  </div>
<div class="after-section">
    <ng-container >
        <div class="column">
            <div class="card">
              <div class="container">
                <h2>Razvoj višeslojnih aplikacija</h2>
                <p class="title">Angular App | Spring Boot App</p>
                <div class="image">
                  <img src="../../../../assets/images/ftn.jpg" alt="ftn">
                </div>
                <p>Projekat je realizovan na predmetu 'Razvoj višeslojnih aplikacija' profesora doktora Đorđa Pržulja. <br> Auditorne vežbe održavao je asistent Vladimir Fabri koji je, slobodno mogu reći, jedan od retkih asistenata koji se u toj meri posvete da studentu što bolje objasne i budu podrška tokom rada na projektu.</p>
              </div>
            </div>
          </div>
    </ng-container>

</div>
  

 

  

  

  


