<div class="autor-section">
    <h1>Autor projekta</h1>
  </div>
<div class="after-section">
    <ng-container >
        <div class="column">
            <div class="card">
              <div class="container">
                <h1>Marina Cvijetić</h1>
                <p class="title">Broj indeksa | IT60-2019</p>
                <div class="image">
                    <img src="../../../../assets/images/profile.jpg" alt="profile">
                </div>
                <h2>Fakultet tehničkih nauka | Inženjerstvo informacionih sistema</h2>
                <h3>Univerzitet u Novom Sadu</h3>
              </div>
            </div>
          </div>
    </ng-container>
    
</div>