<div class="home-section">
    <h1>Dobrodošli!</h1>
    <h2>Angular Aplikacija - Razvoj višeslojnih aplikacija</h2>
  </div>
  
<div class="appInfo-section">
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Obrazovanje</h2>
                   <p class="title">Završene škole radnika</p>
                   <p>Tabelarni prikaz završenih škola radnika kao i njihov stepen stručne spreme na osnovu završene škole.</p>
                   <p><button routerLink="/obrazovanje" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div>
       </ng-container>
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Preduzeće</h2>
                   <p class="title">Preduzeća u kojima su zaposleni radnici</p>
                   <p>Tabelarni prikaz preduzeća u kojima su zaposleni radnici sa dodatnim informacijama o preduzeću poput PIB-a, sedišta...</p>
                   <p><button routerLink="/preduzece" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div> 
       </ng-container>
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Sektor</h2>
                   <p class="title">Sektori preduzeća</p>
                   <p>Tabelarni prikaz sektora preduzeća, gde se klikom na sektor prikazuje lista radnika koji su zaposleni u tom sektoru.</p>
                   <p><button routerLink="/sektor" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div>
       </ng-container>
       <ng-container >
           <div class="column">
               <div class="card">
                 <div class="container">
                   <h2>Radnik</h2>
                   <p class="title">Lista radnika</p>
                   <p>Tabelarni prikaz radnika u okviru sektora u kom su zaposleni. Listi radnika je moguće pristupiti samo odabirom željenog sektora.</p>
                   <p><button routerLink="/sektor" class="button">Pogledaj</button></p>
                 </div>
               </div>
             </div>
       </ng-container>
   </div>
